*{
    margin: 0;
    padding: 0;
}

/* main */

.tablecontainer{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

table{
    /* border: 1px solid black; */
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
}

td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: aliceblue;
}

th{
    padding: 10px;
}